body{
    margin: 0;
    padding:0;
    font-family: Lato, Arial, sans-serif;
    background: lightgrey;
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 3.5vh;
}
p{
    font-size: 2vh;
}
.Round{
    background: #C4CEA1;
    border: 6px solid #5C946E !important;
}
.Round2{
    background: lightgrey;
}
.score{
    font-size: 6vh;
    color: #5C946E;
}
.scoreC{
    font-size: 4vh;;
}
.playerbox{
    height: 28vh;
}
#dede{
    font-size: 5vh;
    margin: 0;
}
#player1.container, #player2.container{
    border: 2px solid black;
    border-radius: 5px;
}
#currentPlayer1, #currentPlayer2{
    width: 22vh;
    height: 11vh;
    border: 2px solid black;
    border-radius: 5px;
}
.buzz{
    border: 3px solid black!important;
    background: #E71D36;
}
.bg-danger{
    background: #E71D36;
}
img{
    height: 7rem;
    width: 7rem;
}
.btn{
    color: #fff;
    background: #393D3F;
    border: 1px solid #fff;
    height: 4rem;
    margin: auto;
}
.btn:hover{
    color: #fff;
    background: #546A7B;
    border: 1px solid #fff;
}

