.lock{
    height: 250px;
}
body{
    margin: 0;
    padding:0;
    font-family: Lato, Arial, sans-serif;
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 3.5vh;;
}
p{
    font-size: 2vh;;
}
.Round{
    background: red;
}
.score{
    font-size: 6vh;
}
.scoreC{
    font-size: 4vh;;
}
.playerbox{
    height: 27vh;
}
#dede{
    font-size: 5vh;
    margin: 0;
}