.lock{
    height: 250px;
}
body{
    margin: 0;
    padding:0;
    font-family: Lato, Arial, sans-serif;
    background: lightgrey;
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 3.5vh;;
}
p{
    font-size: 2vh;;
}
.Round{
    background: lightseagreen;
}
.Round2{
    background: lightgrey;
}
.score{
    font-size: 6vh;
}
.scoreC{
    font-size: 4vh;;
}
.playerbox{
    height: 27vh;
}
#dede{
    font-size: 5vh;
    margin: 0;
}
#player1.container, #player2.container{
    border: 3px solid black;
    border-radius: 5px;
}
#currentPlayer1, #currentPlayer2{
    width: 10rem;
    height: 9rem;
    border: 3px solid black;
    border-radius: 5px;
}